<section class="hero is-success is-fullheight">
	<div class="sign-title">
        <div class="container">
            <h1 class="title">
				 Internet Sucks Sometimes
			</h1>
        </div>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	<div class="tile is-parent is-4 sign-margin-auto">
    	<div class="tile is-child">
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, :class => 'input', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Resend Confirmation", :class => 'button is-info'%>
		  </div>
		</div>
	</div>
<% end %>

<%= render "users/shared/links" %>
