<%= form_with scope: :employee, url: employee_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name %>
  </p>

  <p>
    <%= form.submit %> 
  </p>
 
<% end %>