<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Employee Assets App
            </h1>
			<% if current_user.role=="super_admin" %>
				<%= link_to 'Companies Index', companies_path, :class => 'button is-outlined is-medium is-link'%>
			<% elsif current_user.role=="admin" %>
				<%= link_to 'Company Index', company_path(current_user.company_id), :class => 'button is-link'%>
			<% end %>
			<%= link_to 'Assets Index', assets_path, :class => 'button is-warning'%>
			<%= link_to 'Employees Index', users_path, :class => 'button  is-info'%>
			<br>
			<br>
	        <div class="button is-medium is-danger">
	        	<%=link_to 'Sign Out', destroy_user_session_path %>
	    	</div>	
        </div>
    </div>
</section>
