<h1>This is the list of Assets avaliable for <%=Company.first.name%></h1>
<ul>
	<%Asset.all.each do |asset|%>
	<li>Name :<%= asset.name %></li>
	<li>Asset Id :<%= asset.asset_model_id %></li>
	<li>Asset Description :<%= asset.description %></li>
	<li>Quantity Used :<%= asset.quantity_used %></li>
	<li>Quantity Avaliable :<%= asset.quantity_avaliable %></li>
	<br>
	<%end%>
</ul>

<p>Total Number of Assets avaliable are <%=Asset.all.count%> </p>
<%=link_to 'Back to Main Index', companies_path%>
