<%= form_with scope: :asset, url: assets_path, local: true do |form| %>
  
      <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@asset.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @asset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container is-info is-large">
  <div class="form-container">
  <p class="field">
    <%= form.label :name, :class => 'label' %>
    <div class="control">
      <%= form.text_field :name, :class => 'input' %>
    </div>
  </p>
  <p class="field">
    <%= form.label :asset_model_id, :title => 'Identification Number', :class => 'label' %>
    <%= form.text_field :asset_model_id, :class => 'input' %>
  </p>
  <p class="field">
    <%= form.label :quantity_avaliable, :title => 'Quantity Avaliable', :class => 'label' %>
    <%= form.number_field :quantity_avaliable, :class => 'input' %>
  </p>
  <p class="field">
    <%= form.label :description, :class => 'label'%>
    <%= form.text_area :description, :class => 'textarea'  %>
  </p>
  <p class="field">
    <%= form.submit "Submit", :class => 'button is-primary'%>
  </p>
  </div>
</div>
<% end %>

<%=link_to 'Back' , company_path(current_user.company_id), :class => 'button is-text'%>
 
