<%= form_with scope: :employee, url: employee_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :emp_identification %><br>
    <%= form.text_field :emp_identification %>
  </p>

  <p>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name %>
  </p>

  <p>
    <%= form.label :has_assets %><br>
    <%= form.check_box :has_assets , :class => "has_assets"%>
  </p>

  <p class="add_asset" hidden="true">
    <%= form.select :Assets_list, options_for_select(["Asst", "dir", "pres"]), {}, {:multiple => true, :class => ""} %>
  </p>

  <p>
    <%= form.submit %> 
  </p>
 
<% end %>