<%= form_with scope: :asset, url: asset_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :asset, :title => 'Identification Number' %><br>
    <%= form.text_field :asset %>
  </p>
  
  <p>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>

<%=link_to 'Back' , asset_index_path%>
 
